<%
local textutil = require "luci.model.vnt2_text"
local log_file = "/tmp/vnt2-download.log"
local log_content = textutil.read_log_file(log_file, 300)
-%>

<script type="text/javascript">
//<![CDATA[
	function clear_log() {
		XHR.get('<%=url([[admin]], [[vpn]], [[vnt2]], [[clear_download_log]])%>', null, function(x, data) {
			if (x && x.status == 200) {
				var log_area = document.getElementById('log_textarea');
				log_area.value = "";
				log_area.scrollTop = log_area.scrollHeight;
			}
		});
	}

	XHR.poll(5, '<%=url([[admin]], [[vpn]], [[vnt2]], [[get_download_log]])%>', null, function(x, data) {
		var auto_refresh = document.getElementById("checkbox1");
		if (x && x.status == 200 && auto_refresh && auto_refresh.checked === true) {
			var log_area = document.getElementById('log_textarea');
			log_area.value = x.responseText || "";
			log_area.scrollTop = log_area.scrollHeight;
		}
	});
//]]>
</script>

<fieldset class="cbi-section" id="_log_fieldset">
	<input type="checkbox" id="checkbox1" style="vertical-align:middle;height:auto;" checked="checked" /><%:自动刷新%>
	<input class="cbi-button cbi-input-remove" type="button" onclick="clear_log()" value="<%:清除日志%>" />
	<textarea id="log_textarea" class="cbi-input-textarea" style="width: 100%; margin-top: 10px;" data-update="change" rows="30" wrap="off" readonly="readonly"><%=log_content%></textarea>
</fieldset>
