<%+cbi/valueheader%>
<div style="display:flex; align-items:center; gap:8px;">
	<input class="cbi-input-text" type="password"<%=attr("id", cbid) .. attr("name", cbid) .. attr("value", self:cfgvalue(section) or "") .. attr("placeholder", self.placeholder)%> />
	<input class="btn cbi-button cbi-button-apply" type="button" value="*" title="<%:生成随机访问 Token%>" onclick="vnt2GenerateWebToken('<%=cbid%>');" />
</div>
<script type="text/javascript">
//<![CDATA[
function vnt2GenerateWebToken(id) {
	var field = document.getElementById(id);
	if (!field) {
		return;
	}

	var alphabet = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz";
	var token = "";
	var bytes = new Uint8Array(6);
	if (window.crypto && window.crypto.getRandomValues) {
		window.crypto.getRandomValues(bytes);
		for (var i = 0; i < bytes.length; i++) {
			token += alphabet.charAt(bytes[i] % alphabet.length);
		}
	} else {
		for (var j = 0; j < 6; j++) {
			token += alphabet.charAt(Math.floor(Math.random() * alphabet.length));
		}
	}

	field.value = token;
	field.type = "text";
	field.dispatchEvent(new Event("change", { bubbles: true }));
}
//]]>
</script>
<%+cbi/valuefooter%>
